.info-box {
	border: 1px solid #183367;
	box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
}

.info-number-blue {
	border: 3px solid #306EE8;
	box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
}

.info-number-pink {
	border: 3px solid #853BCE;
}

.info-number-green {
	border: 3px solid #42946E;
}

.border-pink{
	border: 1px solid #853BCE;
}

.pink-blur {
	box-shadow: rgba(132, 59, 206, 0.15) 0px 4px 24px;
}

.blue-track {
	background: linear-gradient(0deg, rgb(255 255 255/0) 0%, hsla(220, 62%, 25%, .5) 15%, hsla(220, 62%, 25%, .5) 85%, rgb(255 255 255/0) 100%);
}