@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(components/square.css);
@import url(components/gradients.css);
@import url(components/menu.css);
@import url(components/decorations.css);

body::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
body::-webkit-scrollbar-track{
    background-color: #000000;
}

body::-webkit-scrollbar-thumb{
    background-color: #252525;
    border-radius: 3px;
}

.border-menu{
	border-bottom: 2px solid #afb0bb0a;
	margin-bottom: 20px;
}

.upper-diagonal-right-top{
	clip-path: polygon(0 0%, 100% 0, 100% 98%, 0 93%);
}

.upper-diagonal-right-bottom{
	clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
}
